node_modules/
lerna-debug.log
.idea
.pinning.store
.vscode
*.iml
docs/
build
lib
yarn.lock
packages/*/node_modules/
packages/*/coverage/
packages/*/logs/
packages/*/package-lock.json
packages/*/types
packages/*/dist
.npmrc
# Local Netlify folder
.netlify
.parcel*
dist/
.testnet.json
tsconfig-check.aegir.json