@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './normalize.css';
@import './reboot.css';

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Neue Haas Grotesk Display Pro 75 Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NeueHaasDisplay-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NeueHaasDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NeueHaasDisplay-Light.woff2') format('woff2');
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow: hidden;
}

* {
  font-family: 'Neue Haas Grotesk Display Pro', 'Roboto', sans-serif;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#root {
  --dark-gray: #101010;
  background: url('../images/Wallpaper.jpg');
  background-position: center;
  background-size: cover;
}

/* App */

.App {
  width: 100%;
  height: 100%;
  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  background: var(--dark-gray);
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
}

@media screen and (min-width: 480px) and (pointer: fine) {
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 56, 56);
  }
  .App {
    max-width: 375px;
    max-height: 812px;

    border: 2px solid #fffd;

    border-radius: 3.2rem;
    overflow: hidden;

    padding-top: 4.6rem;
  }

  .App::before {
    content: '';
    display: block;
    position: relative;
    bottom: 2.6rem;
    width: 100%;
    height: 1.6rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='328' height='12' viewBox='0 0 328 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.35' d='M305.667 0.833374H322.333C323.53 0.833374 324.5 1.80342 324.5 3.00004V9.00004C324.5 10.1967 323.53 11.1667 322.333 11.1667H305.667C304.47 11.1667 303.5 10.1967 303.5 9.00004V3.00004C303.5 1.80342 304.47 0.833374 305.667 0.833374Z' stroke='white'/%3E%3Cpath opacity='0.4' d='M326 4.00006V8.00006C326.805 7.66128 327.328 6.87319 327.328 6.00006C327.328 5.12693 326.805 4.33884 326 4.00006' fill='white'/%3E%3Cpath d='M305 3.43337C305 2.82586 305.492 2.33337 306.1 2.33337H321.9C322.508 2.33337 323 2.82586 323 3.43337V8.56671C323 9.17422 322.508 9.66671 321.9 9.66671H306.1C305.492 9.66671 305 9.17422 305 8.56671V3.43337Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M290.33 2.60802C292.546 2.60811 294.677 3.45955 296.283 4.98635C296.404 5.10422 296.597 5.10274 296.716 4.98302L297.872 3.81635C297.933 3.75563 297.966 3.67338 297.966 3.5878C297.965 3.50221 297.931 3.42036 297.87 3.36035C293.655 -0.679198 287.005 -0.679198 282.79 3.36035C282.729 3.42032 282.694 3.50215 282.693 3.58773C282.693 3.67331 282.726 3.75558 282.787 3.81635L283.943 4.98302C284.062 5.10292 284.255 5.10441 284.376 4.98635C285.982 3.45945 288.114 2.60801 290.33 2.60802ZM290.33 6.40368C291.547 6.40361 292.721 6.85614 293.624 7.67335C293.746 7.78933 293.938 7.78682 294.057 7.66768L295.212 6.50102C295.273 6.43982 295.307 6.3568 295.306 6.27054C295.305 6.18427 295.269 6.10196 295.207 6.04202C292.459 3.48563 288.203 3.48563 285.455 6.04202C285.393 6.10196 285.357 6.18432 285.357 6.27061C285.356 6.3569 285.39 6.43991 285.451 6.50102L286.605 7.66768C286.724 7.78682 286.916 7.78933 287.038 7.67335C287.94 6.85668 289.113 6.40419 290.33 6.40368ZM292.643 8.9575C292.645 9.04401 292.611 9.12741 292.549 9.18802L290.552 11.2037C290.493 11.2629 290.413 11.2963 290.33 11.2963C290.247 11.2963 290.167 11.2629 290.108 11.2037L288.111 9.18802C288.049 9.12737 288.015 9.04394 288.017 8.95743C288.019 8.87092 288.056 8.789 288.12 8.73102C289.396 7.65213 291.264 7.65213 292.54 8.73102C292.604 8.78905 292.641 8.87099 292.643 8.9575Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M276.667 0.666626H275.667C275.114 0.666626 274.667 1.11434 274.667 1.66663V10.3333C274.667 10.8856 275.114 11.3333 275.667 11.3333H276.667C277.219 11.3333 277.667 10.8856 277.667 10.3333V1.66663C277.667 1.11434 277.219 0.666626 276.667 0.666626ZM271 2.99996H272C272.552 2.99996 273 3.44767 273 3.99996V10.3333C273 10.8856 272.552 11.3333 272 11.3333H271C270.448 11.3333 270 10.8856 270 10.3333V3.99996C270 3.44767 270.448 2.99996 271 2.99996ZM267.333 5.33329H266.333C265.781 5.33329 265.333 5.78101 265.333 6.33329V10.3333C265.333 10.8856 265.781 11.3333 266.333 11.3333H267.333C267.885 11.3333 268.333 10.8856 268.333 10.3333V6.33329C268.333 5.78101 267.885 5.33329 267.333 5.33329ZM262.667 7.33329H261.667C261.114 7.33329 260.667 7.78101 260.667 8.33329V10.3333C260.667 10.8856 261.114 11.3333 261.667 11.3333H262.667C263.219 11.3333 263.667 10.8856 263.667 10.3333V8.33329C263.667 7.78101 263.219 7.33329 262.667 7.33329Z' fill='white'/%3E%3Cpath d='M4.3208 11.2563C7.00879 11.2563 8.60547 9.1543 8.60547 5.59473C8.60547 4.25439 8.34912 3.12646 7.8584 2.25488C7.14795 0.899902 5.9248 0.16748 4.37939 0.16748C2.07959 0.16748 0.453613 1.71289 0.453613 3.88086C0.453613 5.91699 1.91846 7.39648 3.93262 7.39648C5.17041 7.39648 6.17383 6.81787 6.67188 5.81445H6.69385C6.69385 5.81445 6.72314 5.81445 6.73047 5.81445C6.74512 5.81445 6.79639 5.81445 6.79639 5.81445C6.79639 8.23145 5.88086 9.67432 4.33545 9.67432C3.42725 9.67432 2.72412 9.17627 2.48242 8.37793H0.600098C0.915039 10.1138 2.38721 11.2563 4.3208 11.2563ZM4.38672 5.89502C3.1709 5.89502 2.30664 5.03076 2.30664 3.82227C2.30664 2.64307 3.21484 1.74219 4.39404 1.74219C5.57324 1.74219 6.48145 2.65771 6.48145 3.85156C6.48145 5.03076 5.59521 5.89502 4.38672 5.89502Z' fill='white'/%3E%3Cpath d='M11.6966 11.1538C12.3924 11.1538 12.8685 10.6558 12.8685 9.99658C12.8685 9.33008 12.3924 8.83936 11.6966 8.83936C11.0081 8.83936 10.5247 9.33008 10.5247 9.99658C10.5247 10.6558 11.0081 11.1538 11.6966 11.1538ZM11.6966 5.66064C12.3924 5.66064 12.8685 5.16992 12.8685 4.51074C12.8685 3.84424 12.3924 3.35352 11.6966 3.35352C11.0081 3.35352 10.5247 3.84424 10.5247 4.51074C10.5247 5.16992 11.0081 5.66064 11.6966 5.66064Z' fill='white'/%3E%3Cpath d='M19.7242 11H21.5333V9.02979H22.9615V7.43311H21.5333V0.431152H18.8673C16.9996 3.24365 15.5128 5.59473 14.5606 7.34521V9.02979H19.7242V11ZM16.3111 7.36719C17.5416 5.19922 18.6402 3.46338 19.651 1.96924H19.7535V7.47705H16.3111V7.36719Z' fill='white'/%3E%3Cpath d='M26.9901 11H28.8798V0.431152H26.9975L24.2362 2.36475V4.18115L26.8656 2.33545H26.9901V11Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  #root::after {
    content: '';
    display: block;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    background-size: cover;
  }
}

/* to get started */

.get-started {
  max-width: 15ch;

  position: absolute;
  bottom: 380px;
  left: calc(calc(100% - 15ch) / 2);

  /* Headline */

  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  /* or 100% */

  text-align: center;
}

.get-started span {
  color: #f50;
}

.header {
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-size: 2.2rem;
}

.header .profile,
.pp {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;

  border: 2px solid #555;
  overflow: hidden;
}

.header .profile img,
.pp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  flex: 1;
}

/* Home */
.home {
  padding-top: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100%;
  height: 80px;
  bottom: 20px;
  left: 0;
}

.Footer .scan-button {
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.25));
  padding: 0;

  cursor: pointer;
}

/* Cards */
.card {
  background-color: #232325;
  border-radius: 1.4rem;
  padding: 1.6rem;
  margin: 2em 0;

  width: 100%;

  border: none;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 1.5rem;

  color: #fff;

  box-shadow: 0px 3px 6px #00000061;
}

.card .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .link {
  color: orange;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

.card:hover,
.card:focus-within {
  background-color: #2e2e2e;
}

.pp {
  border-radius: 99999px;
}

.card pre {
  margin: 0;
  padding: 0.5em 0 0 0;
  opacity: 0.7;
}

.form-scan {
  width: 100%;
  flex: 0.9;
}

.form-scan div {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  background: none;
  border: 2px solid rgb(138, 138, 138);
  border-radius: 20px;

  cursor: pointer;
}

.scan-box {
  width: 275px;
  height: 275px;
  margin: 5rem auto;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 64px;
}

.back-button {
  cursor: pointer;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1.title {
  margin: 0;
}

.paste-clipboard {
  margin: auto;
  width: 257px;
  /* Text 01 S */
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* or 129% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.4px;

  color: rgba(255, 255, 255, 0.6);

  display: flex;
  flex-direction: column;
}

.paste-clipboard button {
  cursor: pointer;
  margin-top: 1em;
  border: none;
  padding: 0.7em 1em;
  background: #dadada;
  border-radius: 8px;
  font-size: 0.9em;

  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  /* identical to box height, or 88% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1px;

  /* Brand/Brand */
  color: #f75c1a;
  font-weight: bold;
}

.header .left {
  display: flex;
  align-items: center;
}

.profile-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sheet {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  height: 96%;
  background-color: #151515;
  border-radius: 4.2rem;

  padding: 3.5em;
}

/* Cards */
.card {
  background-color: #232325;
  border-radius: 1.4rem;
  padding: 1.6rem;
  margin: 2em 0;

  width: 100%;

  border: none;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 1.5rem;

  color: #fff;
}

.card .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover,
.card:focus-within {
  background-color: #2e2e2e;
}

.card pre {
  margin: 0;
  padding: 0.5em 0 0 0;
  opacity: 0.7;
}

.card .rows {
  width: 100%;
  grid-column-start: 2;

  font-size: 1.3em;
}

.card .rows > * {
  padding: 0.2em 0;
}

.card .url {
  color: #f50;
  font-weight: bold;
}

.login-modal .footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  column-gap: 1em;
}

.btn {
  cursor: pointer;
  background-color: #1c1c1d;
  border: none;
  border-radius: 9999px;
  padding: 8px 16px;
  color: #fff;
  font-size: 1.3rem;
  transition: all 0.1s ease-in-out;
}

.btn:hover,
.btn:focus-within {
  background-color: #2e2e2e;
}

.login-modal .footer .btn {
  font-size: 1.4em;
}

.login-modal .switch {
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #2e2e2e;
  overflow: hidden;

  /* width: fit-content; */
  margin: auto;
  margin-bottom: 1em;
}

.login-modal .switch .btn {
  flex: 1;
  border-radius: 0;
  font-size: 1.3em;
  padding: 0.4em;
}

.login-modal .switch .btn.active {
  background-color: #292929;
  color: #fff;
}

.login-modal .anon-description {
  font-size: 1.3em;
  opacity: 0.6;
  width: 100%;
  text-align: center;
}

.btn.primary {
  background-color: #f50;
  font-weight: bold;
}

.home .arrow-svg {
  position: absolute;
  bottom: 100px;
  right: 31%;
  transform: rotate(22deg);
}

article {
  width: 100%;
}

@media screen and (max-height: 700px) {
  .get-started {
    bottom: 200px;
  }

  .home .arrow-svg {
    display: none;
  }
}

.article-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.article-header svg {
  cursor: pointer;
}

.alert {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: #1c1c1dc2; */
}

.alert .error {
  width: 75%;
  background-color: #292929;
  border-radius: 8px;
  padding: 2em;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert .error .btn {
  margin-top: 1em;
  font-size: 1rem;
}

.card.login-profile {
  border: 2px solid #181818;
  cursor: pointer;
}

.card.active {
  border: 2px solid #f75c1a;
}

.connection-local {
  background: none !important;
  padding: 0 !important;
}

.connection-remote {
  margin-left: 3em;
  width: 90%;
  cursor: pointer;
}

.feeds-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3rem;
}
.feeds-image {
  border-radius: 99999px;
  width: 40px;
  height: 40px;
  border: 2px solid #2e2e2e;
}

.feeds-title {
  font-size: 3rem;
  font-weight: bold;
}

.feed-name {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.feed-label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 138% */
  letter-spacing: -0.078px;

  /* Brand/Brand */
  color: #f75c1a;
  margin-left: 2rem;

  margin-top: 1.6rem;
}

.feed-value {
  color: #fff;
  font-size: 1.7rem;
  margin: 0 2rem;
  padding-top: 0.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #2e2e2e;
  white-space: pre-wrap;
  word-break: break-all;
}

.btn-transparent {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.btn-transparent .card {
  margin-bottom: 0;
}

/* QR */
.card-qr {
  width: 280px;
  margin: auto;

  position: relative;
}

.qr {
  border-radius: 4px;
  cursor: pointer;
}

.qrcopy {
  padding: 0.5em;
  display: flex;
  color: #fff;

  align-items: center;
  column-gap: 1rem;

  font-size: 1.2rem;

  position: absolute;
  right: 15px;
  top: 15px;
}

/* Nav */

.header .right .image {
  width: 40px;
  height: 40px;
  border-radius: 99999px;
  border: 2px solid #2e2e2e;
}

/* Loader */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f50;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
